.vscode/
*.pyc
*_cp.*
data_process_tools/.vscode/
rover_control/.vscode/
rover_gazebo/.vscode/
rover_gazebo_plugins/.vscode/
world_plugins/.vscode/
rover_gazebo/data/simulated_terrain_data.txt
rover_gazebo/models/
outputs/
